{% extends 'base.html' %}

{% block content %}
<div class="cat">
    <style>

        .cat {
            margin-top: 30px;
            display: grid;
            gap: 5px;
            grid-template-columns: auto auto auto auto;
        }

       .card {
           display: flex:
           align-items: center;
           margin: 30px;
           border-radius: 10px;
           width: 250px;
           height: 100%;
           padding-left: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           }

       .card img {
             width: 240px;
             height: 200px;
             border-radius: 5px;
       }
       @media (max-width: 768px) {
       .cat {
        gap: 10px;
        grid-template-columns: auto auto;
       }
        .card {

           width: 140px;
           height: 250px;
           padding-left: 10px;

       }

       .card img {
             width: 130px;
             height: 120px;
             border-radius: 5px;
       }
       }

    </style>

{% for category in category_s %}
    <h1>{{ category.name }}</h1>
{% for product in category.products.all %}
    <div class="card">
        <a href="/flane/product-details/{{product.id}}/{{product.product_name}}"><img src="{{ product.product_img.url }}"></a>
 <p> ${{ product.price }} </p>
 <p> {{ product.product_name }} </p>
        </div>
    {% endfor %}

    {% endfor %}

</div>
{% endblock %}
