{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{job.job_category}}</title>
</head>

{% block content %}
<body>
<div class="job-details">
    <style>
    .job-details {
          display: block;
          align-items: center;
          justify-content: space-between;
          margin: 50px auto 20px;
          background: lightgrey;
          box-shadow: 0 0 3px 3px lightseagreen;
          width: 80%;
          height:;
          padding: 10px 40px 10px;
          border-radius: 15px;
    }

    .job-details h {


    }

    span {
        font-weight: 600;
     }
    </style>
    <h> <span>Title:</span>  {{ job.position }}</h>
    <p> <span>Description:</span>  {{ job.description }}</p>
    <p> <span>Posted by:</span>  {{ job.company_name }}</p>
    <p> <span>Posted on:</span>  {{ job.timestamp }}</p>


</div>
</body>
{% endblock content %}
</html>

